<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652533672362-j617oe908dr69j57dgl62vl7p1hn9gub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652533672362-j617oe908dr69j57dgl62vl7p1hn9gub</string>
	<key>API_KEY</key>
	<string>AIzaSyDA3g7Krbez8Rl-rjKZI6RtyMOm1IWQw3E</string>
	<key>GCM_SENDER_ID</key>
	<string>652533672362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temaqui</string>
	<key>PROJECT_ID</key>
	<string>temaqui-1d3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>temaqui-1d3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652533672362:ios:ba572c18180defdd6e23d3</string>
</dict>
</plist>